IMPORTS

In [5]:
#import cv2
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.image as mpimg
import shutil
import os
import re
import pandas as pd

In [90]:
def copy_files(src_dir, dest_dir, files):

    i = 0

    for filename in files:

        source_file = os.path.join(src_dir, filename)
        shutil.copy(source_file, dest_dir)
        print(filename)
        i += 1
        print(i)

In [84]:
base_dir = "/Users/aliou/Downloads/huge_projects/aircraft_reco/"

In [85]:
source_dir = "/Users/aliou/Downloads/huge_projects/aircraft_reco/data/images"

Copy Boeing 737 files

In [28]:
boeing_737_list = ['0227058.jpg',
'0950275.jpg',
'0114122.jpg',
'1754503.jpg',
'0127648.jpg',
'0225218.jpg',
'1713238.jpg',
'1295799.jpg',
'1455998.jpg',
'1102089.jpg',
'0067619.jpg',
'0713752.jpg',
'1361876.jpg',
'0704268.jpg',
'0494478.jpg',
'1398436.jpg',
'0037512.jpg',
'0698787.jpg',
'0875303.jpg',
'1831096.jpg',
'1565290.jpg',
'1297843.jpg',
'0694480.jpg',
'2054409.jpg',
'1860176.jpg',
'0075050.jpg',
'1110805.jpg',
'0702845.jpg',
'1471735.jpg',
'1395798.jpg',
'0880593.jpg',
'0062679.jpg',
'0198440.jpg',
'1258401.jpg',
'0448049.jpg',
'0357873.jpg',
'1196360.jpg',
'0218033.jpg',
'0395652.jpg',
'1320676.jpg',
'1100234.jpg',
'2067870.jpg',
'0681541.jpg',
'0133440.jpg',
'0218801.jpg',
'1298958.jpg',
'0746112.jpg',
'0953559.jpg',
'0545210.jpg',
'1043473.jpg',
'0894189.jpg',
'0447745.jpg',
'1682001.jpg',
'0522856.jpg',
'1456004.jpg',
'0460770.jpg',
'1115297.jpg',
'0653804.jpg',
'2221342.jpg',
'1363673.jpg',
'1352205.jpg',
'0882609.jpg',
'1446516.jpg',
'1615914.jpg',
'1958758.jpg',
'1810855.jpg',
'2126017.jpg',
'1891967.jpg',
'0076843.jpg',
'1119094.jpg',
'1606542.jpg',
'0923504.jpg',
'1080160.jpg',
'0979665.jpg',
'1483195.jpg',
'2217839.jpg',
'0075752.jpg',
'0807961.jpg',
'0195013.jpg',
'0682201.jpg',
'1163484.jpg',
'0063284.jpg',
'1506226.jpg',
'0973082.jpg',
'0176136.jpg',
'1163792.jpg',
'0237107.jpg',
'0523207.jpg',
'2007890.jpg',
'0066410.jpg',
'0558343.jpg',
'0218042.jpg',
'1382601.jpg',
'0482804.jpg',
'1115400.jpg',
'1696061.jpg',
'1559372.jpg',
'1879889.jpg',
'1237623.jpg',
'0851302.jpg']

destination_dir = base_dir + "final_data/train/Boeing_737"

In [20]:
#copy_files(source_dir, destination_dir, boeing_737_list)

Boeing 747

In [34]:
boeing_747_list = []

In [4]:
def make_plane_list(file, list):

    with open(file) as f:

        lines = f.readlines()
        
        for line in lines:
            aircraft = string = re.sub(r"\s", "", line)
            list.append(aircraft + '.jpg')

In [38]:
destination_dir = base_dir + "final_data/train/Boeing_747"

In [40]:
#copy_files(source_dir, destination_dir, boeing_747_list)

Boeing 777

In [42]:
boeing_777_list = []

In [45]:
destination_dir = base_dir +  "final_data/train/Boeing_777"

In [43]:
make_plane_list('b_777.txt', boeing_777_list)

In [46]:
#copy_files(source_dir, destination_dir, boeing_777_list)

Airbus A320

In [47]:
airbus_320_list = []
destination_dir = base_dir + "final_data/train/Airbus_320"

In [48]:
make_plane_list('a_320.txt', airbus_320_list)

In [50]:
#copy_files(source_dir, destination_dir, airbus_320_list)

Airbus A330

In [51]:
airbus_330_list = []
destination_dir = base_dir + "final_data/train/Airbus_330"

In [52]:
make_plane_list('a_330.txt', airbus_330_list)

In [53]:
#copy_files(source_dir, destination_dir, airbus_330_list)

Airbus A340

In [54]:
airbus_340_list = []
destination_dir = base_dir + "final_data/train/Airbus_340"

In [55]:
make_plane_list('a_340.txt', airbus_340_list)

In [56]:
#copy_files(source_dir, destination_dir, airbus_340_list)

Airbus A380

In [57]:
airbus_380_list = []
destination_dir = base_dir + "final_data/train/Airbus_380"

In [58]:
make_plane_list('a_380.txt', airbus_380_list)

In [59]:
#copy_files(source_dir, destination_dir, airbus_380_list)

## Changing the datasets

In [6]:
boeing_767 = pd.read_csv('b_767.csv')

In [7]:
boeing_767.head()

     image company  model
0   744907  Boeing    767
1  2026733  Boeing    767
2  1935709  Boeing    767
3   487319  Boeing    767
4  1798594  Boeing    767

In [38]:
list = [(str(img) + '.jpg') for img in boeing_767.image]
boeing_767_list = []

In [41]:
for img in list:
    
    if len(img) == 10:
        new_n = '0' + img
        boeing_767_list.append(new_n)
    elif len(img) == 9:
        new_n = '00' + img
        boeing_767_list.append(new_n)
    else:
        boeing_767_list.append(img)

In [42]:
print(len(boeing_767_list))

100

In [43]:
# Make trainning set
#copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/train/Boeing_767", files = boeing_767_list[0:90])

Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...

In [46]:
boeing_767_list[90:]

['0981955.jpg',
 '0087248.jpg',
 '0940358.jpg',
 '2259027.jpg',
 '2021838.jpg',
 '0905077.jpg',
 '0867007.jpg',
 '2054456.jpg',
 '2209439.jpg',
 '0097107.jpg']

In [47]:
# Make test set
#copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/test/Boeing_767", files = boeing_767_list[90:])

Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...
Done...

In [92]:
embraer_ejet = pd.read_csv('embraer_e_jet.csv')
embraer_ejet.head()

     image  company  model
0  1591312  Embraer  E-Jet
1  1634373  Embraer  E-Jet
2  1579853  Embraer  E-Jet
3  1461218  Embraer  E-Jet
4   998786  Embraer  E-Jet

In [93]:
emb_list = [(str(img) + '.jpg') for img in embraer_ejet.image]
embraer_ejet_list = []

In [94]:
emb_list

['1591312.jpg',
 '1634373.jpg',
 '1579853.jpg',
 '1461218.jpg',
 '998786.jpg',
 '2107061.jpg',
 '1943476.jpg',
 '2190977.jpg',
 '1444748.jpg',
 '1312536.jpg',
 '381609.jpg',
 '1296201.jpg',
 '1879121.jpg',
 '1901160.jpg',
 '1259554.jpg',
 '1966298.jpg',
 '1008903.jpg',
 '1714236.jpg',
 '1602628.jpg',
 '1676582.jpg',
 '661734.jpg',
 '2117298.jpg',
 '713593.jpg',
 '944994.jpg',
 '642071.jpg',
 '1169979.jpg',
 '962643.jpg',
 '1900937.jpg',
 '1375264.jpg',
 '717995.jpg',
 '1953630.jpg',
 '2063913.jpg',
 '972415.jpg',
 '2241970.jpg',
 '1644649.jpg',
 '1088603.jpg',
 '1776825.jpg',
 '2057962.jpg',
 '1926205.jpg',
 '2220612.jpg',
 '1647313.jpg',
 '1826956.jpg',
 '1364919.jpg',
 '2158858.jpg',
 '1529275.jpg',
 '1943358.jpg',
 '1535181.jpg',
 '2056248.jpg',
 '1860580.jpg',
 '1714026.jpg',
 '2264828.jpg',
 '1351213.jpg',
 '2113949.jpg',
 '1458030.jpg',
 '1806208.jpg',
 '1510217.jpg',
 '2200427.jpg',
 '1086833.jpg',
 '2182128.jpg',
 '1999292.jpg',
 '1586117.jpg',
 '2152231.jpg',
 '2187801.jpg',
 '1545068.jpg',
 '1759298.jpg',
 '2134406.jpg',
 '1018933.jpg',
 '1520357.jpg',
 '2137129.jpg',
 '1549035.jpg',
 '1981537.jpg',
 '2044260.jpg',
 '2169104.jpg',
 '1922722.jpg',
 '1594758.jpg',
 '2195128.jpg',
 '1469699.jpg',
 '1801182.jpg',
 '1659671.jpg',
 '1841489.jpg',
 '2253635.jpg',
 '2114112.jpg',
 '2060949.jpg',
 '1420016.jpg',
 '1736148.jpg',
 '1788034.jpg',
 '2209714.jpg',
 '939519.jpg',
 '1971194.jpg',
 '1330195.jpg',
 '1796759.jpg',
 '2156795.jpg',
 '1679201.jpg',
 '1398982.jpg',
 '1367016.jpg',
 '2259453.jpg',
 '2094472.jpg',
 '1912564.jpg',
 '1917223.jpg',
 '1687909.jpg']

In [95]:
for img in emb_list:
    if len(img) == 10:
        new_n = '0' + img
        embraer_ejet_list.append(new_n)
    elif len(img) == 9:
        new_n = '00' + img
        embraer_ejet_list.append(new_n)
    else:
        embraer_ejet_list.append(img)

In [96]:
print(len(embraer_ejet_list))

100

In [97]:
# Make trainning set
#copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/train/Embraer_ejet", files = embraer_ejet_list[0:90])

1591312.jpg
1
1634373.jpg
2
1579853.jpg
3
1461218.jpg
4
0998786.jpg
5
2107061.jpg
6
1943476.jpg
7
2190977.jpg
8
1444748.jpg
9
1312536.jpg
10
0381609.jpg
11
1296201.jpg
12
1879121.jpg
13
1901160.jpg
14
1259554.jpg
15
1966298.jpg
16
1008903.jpg
17
1714236.jpg
18
1602628.jpg
19
1676582.jpg
20
0661734.jpg
21
2117298.jpg
22
0713593.jpg
23
0944994.jpg
24
0642071.jpg
25
1169979.jpg
26
0962643.jpg
27
1900937.jpg
28
1375264.jpg
29
0717995.jpg
30
1953630.jpg
31
2063913.jpg
32
0972415.jpg
33
2241970.jpg
34
1644649.jpg
35
1088603.jpg
36
1776825.jpg
37
2057962.jpg
38
1926205.jpg
39
2220612.jpg
40
1647313.jpg
41
1826956.jpg
42
1364919.jpg
43
2158858.jpg
44
1529275.jpg
45
1943358.jpg
46
1535181.jpg
47
2056248.jpg
48
1860580.jpg
49
1714026.jpg
50
2264828.jpg
51
1351213.jpg
52
2113949.jpg
53
1458030.jpg
54
1806208.jpg
55
1510217.jpg
56
2200427.jpg
57
1086833.jpg
58
2182128.jpg
59
1999292.jpg
60
1586117.jpg
61
2152231.jpg
62
2187801.jpg
63
1545068.jpg
64
1759298.jpg
65
2134406.jpg
66
1018933.jpg
67
1520357.jpg
68
2137129.jpg
69
1549035.jpg
70
1981537.jpg
71
2044260.jpg
72
2169104.jpg
73
1922722.jpg
74
1594758.jpg
75
2195128.jpg
76
1469699.jpg
77
1801182.jpg
78
1659671.jpg
79
1841489.jpg
80
2253635.jpg
81
2114112.jpg
82
2060949.jpg
83
1420016.jpg
84
1736148.jpg
85
1788034.jpg
86
2209714.jpg
87
0939519.jpg
88
1971194.jpg
89
1330195.jpg
90

In [98]:
# Make test set
copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/test/Embraer_ejet", files = embraer_ejet_list[90:])

1796759.jpg
1
2156795.jpg
2
1679201.jpg
3
1398982.jpg
4
1367016.jpg
5
2259453.jpg
6
2094472.jpg
7
1912564.jpg
8
1917223.jpg
9
1687909.jpg
10

In [99]:
crj_200 = pd.read_csv('embraer_e_jet.csv')
crj_200.head()

     image  company  model
0  1591312  Embraer  E-Jet
1  1634373  Embraer  E-Jet
2  1579853  Embraer  E-Jet
3  1461218  Embraer  E-Jet
4   998786  Embraer  E-Jet

In [100]:
crj_list = [(str(img) + '.jpg') for img in embraer_ejet.image]
crj_200_list = []

In [102]:
for img in  crj_list:
    if len(img) == 10:
        new_n = '0' + img
        crj_200_list.append(new_n)
    elif len(img) == 9:
        new_n = '00' + img
        crj_200_list.append(new_n)
    else:
        crj_200_list.append(img)

In [104]:
len(crj_200_list)

100

In [105]:
# Make trainning set
copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/train/Crj_200", files = crj_200_list[0:90])

1591312.jpg
1
1634373.jpg
2
1579853.jpg
3
1461218.jpg
4
0998786.jpg
5
2107061.jpg
6
1943476.jpg
7
2190977.jpg
8
1444748.jpg
9
1312536.jpg
10
0381609.jpg
11
1296201.jpg
12
1879121.jpg
13
1901160.jpg
14
1259554.jpg
15
1966298.jpg
16
1008903.jpg
17
1714236.jpg
18
1602628.jpg
19
1676582.jpg
20
0661734.jpg
21
2117298.jpg
22
0713593.jpg
23
0944994.jpg
24
0642071.jpg
25
1169979.jpg
26
0962643.jpg
27
1900937.jpg
28
1375264.jpg
29
0717995.jpg
30
1953630.jpg
31
2063913.jpg
32
0972415.jpg
33
2241970.jpg
34
1644649.jpg
35
1088603.jpg
36
1776825.jpg
37
2057962.jpg
38
1926205.jpg
39
2220612.jpg
40
1647313.jpg
41
1826956.jpg
42
1364919.jpg
43
2158858.jpg
44
1529275.jpg
45
1943358.jpg
46
1535181.jpg
47
2056248.jpg
48
1860580.jpg
49
1714026.jpg
50
2264828.jpg
51
1351213.jpg
52
2113949.jpg
53
1458030.jpg
54
1806208.jpg
55
1510217.jpg
56
2200427.jpg
57
1086833.jpg
58
2182128.jpg
59
1999292.jpg
60
1586117.jpg
61
2152231.jpg
62
2187801.jpg
63
1545068.jpg
64
1759298.jpg
65
2134406.jpg
66
1018933.jpg
67
1520357.jpg
68
2137129.jpg
69
1549035.jpg
70
1981537.jpg
71
2044260.jpg
72
2169104.jpg
73
1922722.jpg
74
1594758.jpg
75
2195128.jpg
76
1469699.jpg
77
1801182.jpg
78
1659671.jpg
79
1841489.jpg
80
2253635.jpg
81
2114112.jpg
82
2060949.jpg
83
1420016.jpg
84
1736148.jpg
85
1788034.jpg
86
2209714.jpg
87
0939519.jpg
88
1971194.jpg
89
1330195.jpg
90

In [106]:
# Make test set
copy_files(src_dir = source_dir, dest_dir = base_dir + "final_data/test/Crj_200", files = crj_200_list[90:])

1796759.jpg
1
2156795.jpg
2
1679201.jpg
3
1398982.jpg
4
1367016.jpg
5
2259453.jpg
6
2094472.jpg
7
1912564.jpg
8
1917223.jpg
9
1687909.jpg
10

## Rename files to add classes

In [120]:
def rename_files(path, new_n):

    # Get the list of files in the folder
    files = os.listdir(path)

    # Iterate through each file and rename it
    for i, filename in enumerate(files):
        
        if filename != '.DS_Store':

            # Build the new filename using the specified prefix and index
            new_filename =  new_n + '_' + filename
            
            # Construct the full paths for the old and new filenames
            old_path = os.path.join(path, filename)
            new_path = os.path.join(path, new_filename)

            # Rename the file
            os.rename(old_path, new_path)

Embraer ejet

In [116]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Embraer_ejet', 'ejet')

In [117]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Embraer_ejet', 'ejet')

A320

In [118]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Airbus_320', 'a320')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Airbus_320', 'a320')

A340

In [119]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Airbus_340', 'a340')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Airbus_340', 'a340')

A380

In [121]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Airbus_380', 'a380')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Airbus_380', 'a380')

B737

In [122]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Boeing_737', 'b737')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Boeing_737', 'b737')

B747

In [123]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Boeing_747', 'b747')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Boeing_747', 'b747')

B767

In [124]:
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/test/Boeing_767', 'b767')
rename_files('/Users/aliou/Downloads/huge_projects/aircraft_reco/final_data/train/Boeing_767', 'b767')